<footer class="footer">
  <small>
    <a href="#">Ruby on Rails Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "New", '#' %></li>
    </ul>
  </nav>
</footer>